%%TITLE where="loop"%%

<div class="entry-meta entry-meta-top">
	<?php printf( __( 'Posted on %s', 'child-theme-domain' ), '%%DATE%%' ); ?>
	<?php printf( __( 'by %s', 'child-theme-domain' ), '%%AUTHOR%%' ); ?>
	%%COMMENTS%%
</div>

%%CONTENT%%