<div class="comment-author vcard">
	%%COMMENT_AUTHOR_AVATAR size="72"%%
</div>
<div class="extra-wrap">
	<div class="comment-metadata">
			<h3><?php printf( '<span class="says">' . __( 'Written by', 'child-theme-domain' ) . '</span> %s', '%%COMMENT_AUTHOR_LINK%%' ); ?></h3>
			%%COMMENT_DATE format="l, j F Y - H:i "%%			
			<div class="reply">
				%%COMMENT_REPLY_LINK%%
			</div>
		</div>
	<div class="comment-content">
		%%COMMENT_TEXT%%
	</div>
</div>