%%THUMBNAIL size="cherry-related-thumb" class="related-posts_thumbnail"%%
%%TITLE tag="h3" before="" after="" linked="yes"%%
<div class="entry-meta entry-meta-top">
	%%AUTHOR before="<?php _e( 'Submitted by ', 'child-theme-domain') ?>"%%
	%%DATE before="<?php _e( 'on ', 'child-theme-domain') ?>" format="l, j F Y - H:i "%%
	%%TAXONOMY name="category"  before="<?php _e( 'Posted in ', 'child-theme-domain')?>"%%
	%%COMMENTS%%
	%%TAXONOMY name="post_tag"%%
</div>
%%CONTENT type="part" length="50"%%
%%BUTTON class="cherry-btn cherry-btn-light cherry-btn-medium"%%
